@import '../../node_modules/reset-css/sass/_reset';
@import './vars';

html,
body,
#root {
  height: 100%;
  min-height: 100%;
  width: 100%;
  position: relative;
}

body {
  background-color: rgb(197, 252, 233);
  font-family: $defaultFontFamily;
}

*,
*:before,
*:after {
  box-sizing: border-box;
}
