# Database
DATABASE_URL="postgresql://user:password@localhost:5432/plants"
PORT=3000
HOST_ENV=local

JWT_SECRET=your_jwt_secret

# ============================================
# Telegram Bot Configuration
# ============================================
TELEGRAM_PROXY_URL=your_proxy_url_here
TELEGRAM_PROXY_SECRET=your_proxy_secret_here


# CLAUDINARY_API_KEY=!SECRET!
# CLAUDINARY_API_SECRET=!SECRET!
CLAUDINARY_CLOUDE_NAME=dwfnb0i1x

FRONTEND_URL=http://localhost:8000
DEBUG=plantshop:*,-plantshop:prisma:*,-plantshop:trpc:query:success